.dinocat-slider {
    display: flex;
    position: relative;
    width: auto;
    height: 100vh;
    overflow: hidden;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.dinocat-track {
    display: flex;
   
    will-change: transform;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    justify-content: left;

    background-color: rgb(145, 255, 0);
}
/* Esconde barra de scroll no Chrome, Edge e Safari */
.dinocat-track::-webkit-scrollbar {
    display: none;
}
/* Firefox */
.dinocat-track {
    scrollbar-width: none;
}

.dinocat-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    min-width: 100%;
}




.pagination {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    
}

.pagination img {
    width: 2rem;
    cursor: pointer;
    pointer-events: all;
}
