.dinocat-slider {
    display: flex;
    position: relative;
    width: auto;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    padding: 40px;
    
}

.dinocat-track {
    display: flex;
   
    will-change: transform;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    justify-content: left;
    height: 600px;
     border-radius: 1.125rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid #eeeeee;
    padding: 40px
}
/* Esconde barra de scroll no Chrome, Edge e Safari */
.dinocat-track::-webkit-scrollbar {
    display: none;
}
/* Firefox */
.dinocat-track {
    scrollbar-width: none;
}

.dinocat-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    min-width: 100%;
}




.pagination {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    
}

.pagination img {
    width: 2rem;
    cursor: pointer;
    pointer-events: all;
}
